@import './reset.css';

body { height: 100vh; }
main { width: 100%; height: 90%; display: flex; align-items: center; justify-content: center;  }
main .logoBox { width: 40%; height: 100%; margin-right: 80px; display: flex; flex-direction: column; align-items: center; justify-content: center; }
main .logoBox .mainLogo { width: 360px;}

.loginBox { width: 400px; height: 400px; padding: 40px; margin-right: 80px; background: #ffebce; box-sizing: border-box; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.269); border-radius: 10px; } 

.loginBox h2 { margin: 0 0 30px; padding: 0; text-align: center; font-size: 20px; font-family: nBold; } 

.loginBox .user-box { position: relative; } 
.loginBox .user-box input { width: 100%; padding: 10px 0; font-size: 16px; margin-bottom: 30px; border: none; border-bottom: 1px solid #000; outline: none; background: transparent; } 
.loginBox .user-box label { position: absolute; top:0; left: 0; padding: 10px 0; color: #999; font-size: 14px; pointer-events: none; transition: .5s; } 

.loginBox .user-box input:focus ~ label,
.loginBox .user-box input:valid ~ label { top: -20px; left: 0; color: var(--color-main); font-size: 12px; } 

.loginBox form a { position: relative; display: inline-block; padding: 10px 20px; color: var(--color-main); font-size: 16px; text-decoration: none; text-transform: uppercase; overflow: hidden; transition: .5s; margin-top: 40px; letter-spacing: 4px}

.loginBox a:hover { color: #fff; background: var(--color-main); border-radius: 12px; } 

.loginBox a span { position: absolute; display: block; } 
.loginBox a span:nth-child(1) { top: 0; left: -100%; width: 100%; height: 2px; background: linear-gradient(90deg, transparent, var(--color-main)); animation: btn-anim1 1s linear infinite; } 

@keyframes btn-anim1 { 
0% { left: -100%; } 
50%,100% { left: 100%; } 
}

.loginBox a span:nth-child(2) { top: -100%; right: 0; width: 2px; height: 100%; background: linear-gradient(180deg, transparent, var(--color-main)); animation: btn-anim2 1s linear infinite; animation-delay: .25s}

@keyframes btn-anim2 { 
0% { top: -100%; } 
50%,100% { top: 100%; } 
}

.loginBox a span:nth-child(3) { bottom: 0; right: -100%; width: 100%; height: 2px; background: linear-gradient(270deg, transparent, var(--color-main)); animation: btn-anim3 1s linear infinite; animation-delay: .5s}

@keyframes btn-anim3 { 
0% { right: -100%; } 
50%,100% { right: 100%; } 
}

.loginBox a span:nth-child(4) { bottom: -100%; left: 0; width: 2px; height: 100%; background: linear-gradient(360deg, transparent, var(--color-main)); animation: btn-anim4 1s linear infinite; animation-delay: .75s}

@keyframes btn-anim4 { 
0% { bottom: -100%; } 
50%,100% { bottom: 100%; } 
}

/* ----------------- footer --------------- */
footer { display: flex; flex-direction: column; align-items: center; justify-content: center; height: 120px; background-color: #333;}
footer .footLogo { width: 160px; }
footer .crTxt { font-size: 13px; color: #fff; font-family: nLight;}